body {
	font: 66% Verdana,Arial,sans-serif;
}

td > div.scroll {
    padding-bottom:15px;
    overflow-x:auto;
    overflow-y:hidden;
} 

td.logo
{
	vertical-align:bottom;
}

td.textinfo
{
	text-align:right;
	vertical-align:bottom;
	padding-right:20px;
} 

table.find .custom-combobox-input {
    width: 150px !important;
}

table.content
{
	padding-right:10px;
	padding-left :10px;
	width        :100%;
}

table.find td
{
	padding       :3px !important; 
}

table.find td.label
{
	width: 100px;
}

table.find td.label2
{
	width: 100px;
        text-align: right;
}

table.find input[type="text"], input[type="password"], textarea, select {
    width: 170px;
}
table.find input, textarea, select, button {
    border: 1px solid #CDCDCD;
    font-family: arial;
    font-size: 11px;
    /*padding: .4em 1em;*/
    padding: 7px;
    border-bottom-right-radius: 4px;
    border-radius: 4px;
}

table.form td
{
	padding       :3px !important; 
}

table.form td.label
{
	min-width: 50px;
	max-width: 120px;
	vertical-align: central;
	padding-right:5px !important;
}

table.form td.judul
{
	font-weight: bold;
	font-size: 16px;
	padding-bottom:15px !important;
}

table.form input[type="text"], input[type="password"], textarea, select {
    width: 300px;
    border-width: 1px;
    /*padding: .4em 1em;*/
    padding: 7px;
}

input[type="text"].amount {
    text-align: right !important;
}

input[type="text"].amount1 {
    text-align: right !important;
}

table.displaytag button {
    padding: 1px;
    width: 100%
}

table.displaytag button:hover {
    background-color: red;
}

table.form input, textarea, select {
    border: 1px solid #CDCDCD;
    font-family: arial;
    font-size: 11px;
    /*padding: .4em 1em;*/
    padding: 7px;
    border-bottom-right-radius: 4px;
    border-radius: 4px;
}

table.content td
{
	padding       :10px;
}

table.content td.content
{
	height        :350px;
	vertical-align:top;
}

table.content td.paginate
{
	vertical-align:top;
	padding-right:2px;
	border-right :1px solid #C0C0C0;
	min-width:130px;
        width: 130px;
}

table.line {
    border-top: 2px solid #C0C0C0;
    margin-bottom: 5px;
    margin-top: 10px;
}

img.center {
    margin: auto;
    left:0; right:0;
    top:0; bottom:0;
    position: absolute;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    width: 273px;
}